parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - src/
        - tests/
    scanFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    ignoreErrors:
        - identifier: missingType.generics


